{
  "compact": true,
  "comments": false,
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "shinkansen-cogs": "./src",
          "stories": "./stories"
        }
      }
    ]
  ]
}
