{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current",
          "browsers": [
            "last 4 versions",
            "safari >= 9",
            "ios >= 8",
            "ie >= 9",
            "> 2%"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/syntax-jsx",
    "@babel/proposal-export-default-from",
    "@babel/proposal-export-namespace-from",
    [
      "@babel/proposal-class-properties",
      {
        "loose": false
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "cwd": "babelrc",
        "alias": {
          "#cogs/checkbox": "./cogs/checkbox/index.jsx",
          "#cogs/email": "./cogs/email/index.jsx",
          "#cogs/number": "./cogs/number/index.jsx",
          "#cogs/password": "./cogs/password/index.jsx",
          "#cogs/radio": "./cogs/radio/index.jsx",
          "#cogs/select": "./cogs/select/index.jsx",
          "#cogs/text": "./cogs/text/index.jsx",
          "#cogs/textarea": "./cogs/textarea/index.jsx",
          "#cogs": "./cogs/index.jsx",
          "#components/common/disabled": "./components/common/disabled/index.jsx",
          "#components/common/readonly": "./components/common/readonly/index.jsx",
          "#components/common/required": "./components/common/required/index.jsx",
          "#components/common/text-content": "./components/common/text-content/index.jsx",
          "#components/description/checkbox": "./components/description/checkbox/index.jsx",
          "#components/description/email": "./components/description/email/index.jsx",
          "#components/description/number": "./components/description/number/index.jsx",
          "#components/description/password": "./components/description/password/index.jsx",
          "#components/description/radio": "./components/description/radio/index.jsx",
          "#components/description/select": "./components/description/select/index.jsx",
          "#components/description/text": "./components/description/text/index.jsx",
          "#components/description/textarea": "./components/description/textarea/index.jsx",
          "#components/description": "./components/description/index.jsx",
          "#components/error-message/checkbox": "./components/error-message/checkbox/index.jsx",
          "#components/error-message/email": "./components/error-message/email/index.jsx",
          "#components/error-message/number": "./components/error-message/number/index.jsx",
          "#components/error-message/password": "./components/error-message/password/index.jsx",
          "#components/error-message/radio": "./components/error-message/radio/index.jsx",
          "#components/error-message/select": "./components/error-message/select/index.jsx",
          "#components/error-message/text": "./components/error-message/text/index.jsx",
          "#components/error-message/textarea": "./components/error-message/textarea/index.jsx",
          "#components/error-message": "./components/error-message/index.jsx",
          "#components/field/checkbox": "./components/field/checkbox/index.jsx",
          "#components/field/email": "./components/field/email/index.jsx",
          "#components/field/number": "./components/field/number/index.jsx",
          "#components/field/password": "./components/field/password/index.jsx",
          "#components/field/radio": "./components/field/radio/index.jsx",
          "#components/field/select": "./components/field/select/index.jsx",
          "#components/field/text": "./components/field/text/index.jsx",
          "#components/field/textarea": "./components/field/textarea/index.jsx",
          "#components/field": "./components/field/index.jsx",
          "#components/title/checkbox": "./components/title/checkbox/index.jsx",
          "#components/title/email": "./components/title/email/index.jsx",
          "#components/title/number": "./components/title/number/index.jsx",
          "#components/title/password": "./components/title/password/index.jsx",
          "#components/title/radio": "./components/title/radio/index.jsx",
          "#components/title/select": "./components/title/select/index.jsx",
          "#components/title/text": "./components/title/text/index.jsx",
          "#components/title/textarea": "./components/title/textarea/index.jsx",
          "#components/title": "./components/title/index.jsx",
          "#transformers/error-message": "./transformers/error-message/index.mjs",
          "build": "../build",
          "stories": "../stories"
        }
      }
    ]
  ]
}
