{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/display-name": "off",
    "quotes": [
      "error",
      "single"
    ],
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "react/jsx-indent": [
      "error",
      2,
      {
        "checkAttributes": true,
        "indentLogicalExpressions": true
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.mts",
        "*.cts"
      ],
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": "love",
      "parser": "@typescript-eslint/parser",
      "rules": {
        "no-undef": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
